

@page "/dog-pets"

@attribute [Authorize(PawsomePetsPermissions.DogPets.Default)]
@using PawsomePets.DogPets
@using PawsomePets.Localization
@using PawsomePets.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout

@using PawsomePets.Permissions
@using Volo.Abp.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components
@using Volo.Abp.Http.Client
@inherits PawsomePetsComponentBase
@inject IDogPetsAppService DogPetsAppService

@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<PawsomePetsResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["DogPets"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">

</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
        <Row>
            <div class="col-md-8 col-lg-10">
                <div class="mb-3">
                    <Form id="DogPetSearchForm">
                        <Addons>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit @bind-Text="@Filter.FilterText"
                                        Autofocus="true"
                                        Placeholder="@L["Search"]">
                                </TextEdit>
                            </Addon>
                            <Addon AddonType="AddonType.End">
                                <SubmitButton Form="DogPetSearchForm" Clicked="GetDogPetsAsync">
                                    <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                                </SubmitButton>
                            </Addon>
                        </Addons>
                    </Form>
                </div>
            </div>
                
                   <div class="col-md-4 col-lg-2">
            <div class="mb-3">
               <Button Color="Color.Primary" Outline Style="width:100%" id="AdvancedFilterSectionToggler"
                         Clicked="@(() => ShowAdvancedFilters = !ShowAdvancedFilters)">@L["Filters"]
                         <i aria-hidden="true" class="fa ms-1 @(!ShowAdvancedFilters ? "fa-angle-down" : "fa-angle-up")"></i>
               </Button>
            </div>
       </div>
        
        <div style="display: @(!ShowAdvancedFilters ? "none" : "block")"  class="mt-3">
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Name"]</FieldLabel>
                        <TextEdit Text="@Filter.Name" TextChanged="@OnNameChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Breed"]</FieldLabel>
                        <TextEdit Text="@Filter.Breed" TextChanged="@OnBreedChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MinAge"]</FieldLabel>
                        <NumericEdit TValue="float?" 
             Value="@Filter.AgeMin"
             ValueChanged="@OnAgeMinChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MaxAge"]</FieldLabel>
                        <NumericEdit TValue="float?" 
             Value="@Filter.AgeMax"
             ValueChanged="@OnAgeMaxChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Gender"]</FieldLabel>
                        <TextEdit Text="@Filter.Gender" TextChanged="@OnGenderChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["Color"]</FieldLabel>
                        <TextEdit Text="@Filter.Color" TextChanged="@OnColorChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MinWeight"]</FieldLabel>
                        <NumericEdit TValue="float?" 
             Value="@Filter.WeightMin"
             ValueChanged="@OnWeightMinChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MaxWeight"]</FieldLabel>
                        <NumericEdit TValue="float?" 
             Value="@Filter.WeightMax"
             ValueChanged="@OnWeightMaxChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["HealthStatus"]</FieldLabel>
                        <TextEdit Text="@Filter.HealthStatus" TextChanged="@OnHealthStatusChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MinVaccinations"]</FieldLabel>
                        <NumericEdit TValue="int?" 
             Value="@Filter.VaccinationsMin"
             ValueChanged="@OnVaccinationsMinChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MaxVaccinations"]</FieldLabel>
                        <NumericEdit TValue="int?" 
             Value="@Filter.VaccinationsMax"
             ValueChanged="@OnVaccinationsMaxChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MinPrice"]</FieldLabel>
                        <NumericEdit TValue="decimal?" 
             Value="@Filter.PriceMin"
             ValueChanged="@OnPriceMinChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MaxPrice"]</FieldLabel>
                        <NumericEdit TValue="decimal?" 
             Value="@Filter.PriceMax"
             ValueChanged="@OnPriceMaxChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MinPromotionPecents"]</FieldLabel>
                        <NumericEdit TValue="float?" 
             Value="@Filter.PromotionPecentsMin"
             ValueChanged="@OnPromotionPecentsMinChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["MaxPromotionPecents"]</FieldLabel>
                        <NumericEdit TValue="float?" 
             Value="@Filter.PromotionPecentsMax"
             ValueChanged="@OnPromotionPecentsMaxChangedAsync" />                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["IsStock"]</FieldLabel>
                        <Select TValue="bool?"
		SelectedValue="@Filter.IsStock"
		SelectedValueChanged="@OnIsStockChangedAsync">

<SelectItem></SelectItem>
<SelectItem Value="true">@L["Yes"]</SelectItem>
<SelectItem Value="false">@L["No"]</SelectItem>

</Select>                       
                    </Field>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Field>
                        <FieldLabel>@L["OtherInformation"]</FieldLabel>
                        <TextEdit Text="@Filter.OtherInformation" TextChanged="@OnOtherInformationChangedAsync" />                       
                    </Field>
                </Column>
            </Row>
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
        </div>

        </Row>

@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>        
        @if (SelectedDogPets.Any())
        {
            <div class="d-flex justify-content-between align-items-center mb-2">
                @if (AllDogPetsSelected)
                {
                    <p class="lead mb-0">
                        @L["AllItemsAreSelected", TotalCount]
                    </p>
                }
                else
                {
                    <p class="lead mb-0">
                        @if (SelectedDogPets.Count > 1)
                        {
                            @L["NumberOfItemsOnThisPageAreSelected", SelectedDogPets.Count]
                        }
                        else
                        {
                            @L["OneItemOnThisPageIsSelected"]
                        }
                    </p>
                }
                    
                <div>
                    @if ((SelectedDogPets.Count == PageSize || SelectedDogPets.Count == DogPetList.Count) && TotalCount > SelectedDogPets.Count)
                    {
                        if (!AllDogPetsSelected)
                        {
                            <Button Clicked="SelectAllItems" Class="mx-1 btn-outline-secondary">@L["SelectAllItems", TotalCount]</Button>
                        }
                        else
                        {
                            <Button Clicked="ClearSelection" Class="mx-1 btn-outline-secondary">@L["ClearSelection"]</Button>
                        }
                    }
                    
                    <Button Color="Color.Danger" Class="mx-1" Size="Size.Medium" Clicked="DeleteSelectedDogPetsAsync">
                        <Icon Name="@IconName.Delete" /> @L["Delete"]
                    </Button>
                </div>
            </div>
            
            <hr class="my-1 mx-0"/>
        }
        <DataGrid TItem="DogPetDto"
                  Data="DogPetList"
                  
                  SelectionMode="DataGridSelectionMode.Multiple"
                  SelectedRows="SelectedDogPets"
                  RowSelectable="@((args) => CanDeleteDogPet)"
                  SelectedRowsChanged="SelectedDogPetRowsChanged"
                  
                  
                  
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize"
                  Class="datagrid-detail">
            <LoadingTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                       <RadarSpinner />
                    </Column>
                </Row>
            </LoadingTemplate>
            <EmptyTemplate>
                <Row Class="w-100 align-items-center" Style="height: 150px;">
                    <Column>
                        <Heading Size="HeadingSize.Is4" TextAlignment="TextAlignment.Center">@L["NoDataAvailable"]</Heading>
                    </Column>
                </Row>
            </EmptyTemplate>   
            <DataGridColumns>
                
                @if (CanDeleteDogPet && DogPetList.Any())
                {
                    <DataGridMultiSelectColumn TItem="DogPetDto" DisplayOrder="-1" Width="30px"></DataGridMultiSelectColumn>
                }
                
                <DataGridEntityActionsColumn TItem="DogPetDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="DogPetDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="DogPetDto"
                                          Visible="@CanEditDogPet"
                                          Clicked="async () => await OpenEditDogPetModalAsync(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="DogPetDto"
                                          Visible="@CanDeleteDogPet"
                                          Clicked="() => DeleteDogPetAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
               
              <DataGridColumn TItem="DogPetDto"
                      Field="Name"
                      Caption="@L["Name"]">
              </DataGridColumn>

              <DataGridColumn TItem="DogPetDto"
                      Field="Breed"
                      Caption="@L["Breed"]">
              </DataGridColumn>

              <DataGridColumn TItem="DogPetDto"
                      Field="Age"
                      Caption="@L["Age"]">
              </DataGridColumn>

              <DataGridColumn TItem="DogPetDto"
                      Field="Gender"
                      Caption="@L["Gender"]">
              </DataGridColumn>

              <DataGridColumn TItem="DogPetDto"
                      Field="Color"
                      Caption="@L["Color"]">
              </DataGridColumn>

              <DataGridColumn TItem="DogPetDto"
                      Field="Weight"
                      Caption="@L["Weight"]">
              </DataGridColumn>

              <DataGridColumn TItem="DogPetDto"
                      Field="HealthStatus"
                      Caption="@L["HealthStatus"]">
              </DataGridColumn>

              <DataGridColumn TItem="DogPetDto"
                      Field="Vaccinations"
                      Caption="@L["Vaccinations"]">
              </DataGridColumn>

              <DataGridColumn TItem="DogPetDto"
                      Field="Price"
                      Caption="@L["Price"]">
              </DataGridColumn>

              <DataGridColumn TItem="DogPetDto"
                      Field="PromotionPecents"
                      Caption="@L["PromotionPecents"]">
              </DataGridColumn>

              <DataGridColumn TItem="DogPetDto"
                      Field="IsStock"
                      Caption="@L["IsStock"]">
                    <DisplayTemplate>
                        @if (context.IsStock)
                        {
                            <Icon TextColor="TextColor.Success" Name="@IconName.Check" />
                        }
                        else
                        {
                            <Icon TextColor="TextColor.Danger" Name="@IconName.Times" />
                        }
                    </DisplayTemplate>
              </DataGridColumn>


              <DataGridColumn TItem="DogPetDto"
                      Field="OtherInformation"
                      Caption="@L["OtherInformation"]">
              </DataGridColumn>

            </DataGridColumns>
            
            
        </DataGrid>
    </CardBody>
</Card>

@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateDogPetModal" Closing="@CreateDogPetModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-5>*@
@*//</suite-custom-code-block-5>*@
        <Form id="CreateDogPetForm">
            <ModalHeader>
                <ModalTitle>@L["NewDogPet"]</ModalTitle>
                <CloseButton Clicked="CloseCreateDogPetModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewDogPetValidations"
                            Mode="ValidationMode.Auto"
                            Model="@NewDogPet"
                            ValidateOnLoad="false">
                    
                    
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Name"]</FieldLabel>
                            <TextEdit @bind-Text="@NewDogPet.Name"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Breed"]</FieldLabel>
                            <TextEdit @bind-Text="@NewDogPet.Breed"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Age"]</FieldLabel>
                            <NumericPicker TValue="float" @bind-Value="@NewDogPet.Age"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Gender"]</FieldLabel>
                            <TextEdit @bind-Text="@NewDogPet.Gender"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Color"]</FieldLabel>
                            <TextEdit @bind-Text="@NewDogPet.Color"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Weight"]</FieldLabel>
                            <NumericPicker TValue="float" @bind-Value="@NewDogPet.Weight"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["HealthStatus"]</FieldLabel>
                            <TextEdit @bind-Text="@NewDogPet.HealthStatus"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Vaccinations"]</FieldLabel>
                            <NumericPicker TValue="int" @bind-Value="@NewDogPet.Vaccinations"  Decimals="0" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Price"]</FieldLabel>
                            <NumericPicker TValue="decimal" @bind-Value="@NewDogPet.Price"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["PromotionPecents"]</FieldLabel>
                            <NumericPicker TValue="float" @bind-Value="@NewDogPet.PromotionPecents"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>


                    <Field>
                        <Check TValue="bool" @bind-Checked="@NewDogPet.IsStock" >@L["IsStock"]</Check>
                    </Field>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["OtherInformation"]</FieldLabel>
                            <TextEdit @bind-Text="@NewDogPet.OtherInformation"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    
                    
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateDogPetModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateDogPetForm" Clicked="CreateDogPetAsync"/>
@*//<suite-custom-code-block-6>*@
@*//</suite-custom-code-block-6>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-7>*@
@*//</suite-custom-code-block-7>*@
    </ModalContent>
</Modal>

@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditDogPetModal" Closing="@EditDogPetModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
@*//<suite-custom-code-block-8>*@
@*//</suite-custom-code-block-8>*@
        <Form id="EditDogPetForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditDogPetModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingDogPetValidations"
                            Mode="ValidationMode.Auto"
                            Model="@EditingDogPet"
                            ValidateOnLoad="false">
                    
                    
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Name"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingDogPet.Name"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Breed"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingDogPet.Breed"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Age"]</FieldLabel>
                            <NumericPicker TValue="float" @bind-Value="@EditingDogPet.Age"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Gender"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingDogPet.Gender"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Color"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingDogPet.Color"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Weight"]</FieldLabel>
                            <NumericPicker TValue="float" @bind-Value="@EditingDogPet.Weight"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["HealthStatus"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingDogPet.HealthStatus"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Vaccinations"]</FieldLabel>
                            <NumericPicker TValue="int" @bind-Value="@EditingDogPet.Vaccinations"  Decimals="0" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Price"]</FieldLabel>
                            <NumericPicker TValue="decimal" @bind-Value="@EditingDogPet.Price"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>


                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["PromotionPecents"]</FieldLabel>
                            <NumericPicker TValue="float" @bind-Value="@EditingDogPet.PromotionPecents"   >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericPicker>
                        </Field>
                     </Validation>


                    <Field>
                        <Check TValue="bool" @bind-Checked="@EditingDogPet.IsStock" >@L["IsStock"]</Check>
                    </Field>

                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["OtherInformation"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingDogPet.OtherInformation"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    
                    
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditDogPetModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="EditDogPetForm" Clicked="UpdateDogPetAsync" />
@*//<suite-custom-code-block-9>*@
@*//</suite-custom-code-block-9>*@
            </ModalFooter>
        </Form>
@*//<suite-custom-code-block-10>*@
@*//</suite-custom-code-block-10>*@
    </ModalContent>
</Modal>

